<a href="https://colab.research.google.com/github/oderofrancis/world_population/blob/main/world_population_scrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **World Popolation scrapping using BeautifulSoup**

Importing librabries

In [1]:
import requests

from bs4 import BeautifulSoup

import pandas as pd

## **Get real time data**

Get url from world population worldmeter

In [4]:
# real time data for population

url = 'https://www.worldometers.info/world-population/'

page = requests.get(url)

In [8]:
soup = BeautifulSoup(page.text, 'lxml')

# print(soup)

In [9]:
table_data = soup.find('table', class_ = 'table table-striped table-bordered')

headers = []
for i in table_data.find_all('th'):
    title = i.text
    headers.append(title)

In [10]:
data = pd.DataFrame(columns = headers)

print(data)

Empty DataFrame
Columns: [#, Country (or dependency), Population(2020), YearlyChange, NetChange, Density (P/Km²), Land Area (Km²), Migrants(net), Fert.Rate, Med.Age, UrbanPop %, WorldShare]
Index: []

In [11]:
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(data)
        data.loc[length] = row
        
print (data)

       # Country (or dependency) Population(2020) YearlyChange   NetChange  \
0      1                   China    1,439,323,776       0.39 %   5,540,090
1      2                   India    1,380,004,385       0.99 %  13,586,631
2      3           United States      331,002,651       0.59 %   1,937,734
3      4               Indonesia      273,523,615       1.07 %   2,898,047
4      5                Pakistan      220,892,340          2 %   4,327,022
..   ...                     ...              ...          ...         ...
230  231              Montserrat            4,992       0.06 %           3
231  232        Falkland Islands            3,480       3.05 %         103
232  233                    Niue            1,626       0.68 %          11
233  234                 Tokelau            1,357       1.27 %          17
234  235                Holy See              801       0.25 %           2

    Density (P/Km²) Land Area (Km²) Migrants(net) Fert.Rate Med.Age  \
0               153       9,388,211      -348,399      1.69      38
1               464       2,973,190      -532,687    2.2402      28
2                36       9,147,420       954,806    1.7764      38
3               151       1,811,570       -98,955    2.3195      30
4               287         770,880      -233,379      3.55      23
..              ...             ...           ...       ...     ...
230              50             100                    N.A.    N.A.
231               0          12,170                    N.A.    N.A.
232               6             260                    N.A.    N.A.
233             136              10                    N.A.    N.A.
234           2,003               0                    N.A.    N.A.

    UrbanPop % WorldShare
0       60.8 %     18.5 %
1         35 %     17.7 %
2       82.8 %      4.2 %
3       56.4 %      3.5 %
4       35.1 %      2.8 %
..         ...        ...
230      9.6 %        0 %
231       66 %        0 %
232     46.4 %        0 %
233        0 %        0 %
234       N.A.        0 %

[235 rows x 12 columns]

## **Get data by country**

In [29]:
url_data = 'https://www.worldometers.info/world-population/population-by-country'

r = requests.get(url_data)

soup = BeautifulSoup(r.content)

In [34]:
countries = soup.find_all("table")[0]

df = pd.read_html(str(countries))[0]

In [38]:
df

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,235,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %